.container {
  max-width: 1220px;
  margin: 0 auto;
}

.input-group { 
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* add flex column gap */
  gap: 10px;  
}

.input-group > label { 
  text-align: right;
  margin-right: 10px;
}

.input-group > input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.input-group > button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
  cursor: pointer;
}

.input-group > .input-group-prepend { 
  flex: 0 0 50px;
}

.input-group > .input-group-append { 
  flex: 0 0 50px;
}

.sync-responses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sync-responses div {
  margin: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.sync-responses div.success {
  background-color: #00ff00;
}

.sync-responses div.fail {
  background-color: #ff0000;
}

.tag {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.tag button { 
  background: none;
  border: none;
  cursor: pointer;
}

label, .tag, button { 
  font-weight: 500;
}